<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="net.logstash.logback.encoder.LoggingEventCompositeJsonEncoder">
            <providers>
                <timestamp/>
                <version/>
                <logLevel/>
                <loggerName/>
                <threadName/>
                <message/>
                <stackTrace/>
                <context/>
                <arguments/>
            </providers>
        </encoder>
    </appender>

    <root level="INFO">
        <appender-ref ref="STDOUT"/>
    </root>

    <!-- Ktor logging -->
    <logger name="io.ktor" level="INFO"/>

    <!-- Application logging -->
    <logger name="com.example.smarty.server" level="DEBUG"/>
</configuration>
